<div class="titlepage">
  <h4>Who would you like to write this story?</h4>
    <%=form_for @invite, url: {action: "create"} do |f| %>
      <%= f.hidden_field :story_id, :value => @invite.story_id %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.submit 'Send' %>
    <% end %>
</div>