<div class="titlepage">
  <h3>We found someone who matches that description:</h3><br>

  <% if @users.present? %>
    <% @users.each do |user| %>
      <p><%= user.first_name %> <%= user.last_name %></p><br> 
        <%= form_for @membership, url: {action: "create"} do |f| %>
        <%= f.hidden_field :story_id, :value => @membership.story_id %>
        <%= f.hidden_field :email, :value => user.email %>
        <%= f.hidden_field :user_id, :value => user.id %>
        <%= f.submit 'add to story' %>
        <% end %>
    <% end %>

  <% else %>
    <script type="text/javascript">
      window.location.href="<%= new_user_invitation_path %>"; 
    </script>
  <% end %>
</div>