<div class="heading noline">
  <% if user_signed_in? %>
    <%=link_to "HOME", root_path %> // 
    <%=link_to "YOUR PAGE", user_path(current_user) %> // 
    <%=link_to "SIGN OUT", destroy_user_session_path %> 
  <% else %>
    <%= link_to "SIGN IN", new_user_session_path %> //
    <%= link_to "SIGN UP", new_user_registration_path %>
  <% end %>
</div>