<div class="titlepage">
  <div class = "title">
    <h2><%= @story.title %></h2>
  </div>
  <p>written by</p>

    <div class="authors">
        <% @users.each do |user| %>
        <li><%= user.first_name %></li>
        <% end %>
    </div>

    <br><br>
    <div class="info">
      <p><b>Lines written: </b>
          <% if @story.lines.count == 0 %>
          <%= "1" %>
          <% else %>
          <%= @story.lines.count %>
          <% end %>
      </p>
      <% if @story.description.presence %>
        <p><b>Description: </b><%= @story.description %></p>
      <% end %>
      <p> <% if current_user.id == @story.creator_id %>
          <b>First line: </b><%= @story.first_line %>
          <% end %>
      </p>
    </div>

    <br><br>
    <div class = "row">
      <div class = "col-md-12 col-centered">
        <button type="button" class="btn"><%= link_to "add writers", new_story_invite_path(@story) %></button>
        <% if current_user.id == @story.creator_id %>
        <button type="button" class="btn"><%= link_to "start the circle", notifications_start_path(story_id: @story.id), method: :post, remote: true %></button>
        <% end %>
        <button type="button" class="btn"><%= link_to "full story", story_lines_path(@story), data: {confirm: "Are you sure the story is done?"} %></button>
        <% if current_user.id == @story.creator_id %>
          <button type="button" class="btn"><%= link_to "delete story", story_path(@story), method: :delete, data: {confirm: "Are you sure you would like to delete this story?"} %></button>
        <% end %>
      </div>
    </div>
</div>

  